{% extends 'layout.html.twig' %}

{% block navbar %}
    <ul>
        <li>Taverne</li>
        <li>Ile aux trésors</li>
        <li>Black Pearl</li>
        <li>Barbe Rousse</li>
        <li>Contact</li>
    </ul>
{% endblock %}
